# Created by https://www.toptal.com/developers/gitignore/api/xmake
# Edit at https://www.toptal.com/developers/gitignore?templates=xmake

### xmake ###
# Xmake cache
.xmake/
build/

# End of https://www.toptal.com/developers/gitignore/api/xmake

.cache/
.polyscope.ini
compile_commands.json
imgui.ini
